body{
    font-family: "Lobster", sans-serif;
    margin: 0;font-size: 28px;
    background-image: url("./img/pattern2.webp");
    color: black;
}

 

h1 {
    font-size: 64px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 5px;
    margin-top: 20px;
    margin-bottom: 0;
}

h2{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

.board{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.card{
    width: 125px;
    height: 125px;
    display: inline-block;
    margin: 3px;
    background-image: url("img/pattern1.jpg");
    border: 4px solid rgb(247, 100, 201);
    border-radius: 4px;
    cursor: pointer;
    filter: brightness(70%);
    transition: all .3s ease-in-out;
}

.card:hover{
    border: 4px solid #e9b64a;
    filter: brightness(100%);
}

.cardA{
    width: 125px;
    height: 125px;
    display: inline-block;
    margin: 3px;
    background-image: url("img/pattern1.jpg");
    border: 4px solid #e9b64a;
    border-radius: 4px;
    cursor: default;
    filter: brightness(100%);
    transition: all .3s ease-in-out;
}

.score{
    margin-top: 5px;
    letter-spacing: 2px;
}